<!-- landing page -->
<div class="jumbotron">
  <h1> Welcome!Here's where to get your Loan.</h1>
</div>


<div class="jumbotron">
  <div class="container">
    <h3>Before you get the loan,agree to our terms and conditions</h3>
      <p> GENERAL PROVISIONS
          1.1 The standard loan agreement terms and conditions shall form an inseparable part of the loan agreement
              concluded between the bank and the borrower.
          1.2 The bank shall have the right to amend the loan agreement and/or the standard loan agreement terms and
              conditions unilaterally if the legislation regulating consumer credit or other relations arising from the loan
              agreement and/or the standard loan agreement terms and conditions change and amendment of the loan
              agreement and/or the standard loan agreement terms and conditions arises from harmonisation thereof with
              legal standards, whereas the bank shall notify the borrower in advance of the respective changes.</p>

      <p> DISBURSEMENT OF LOAN AMOUNT
          2.1 The bank shall disburse the loan amount or a part thereof in accordance with the loan agreement.
          2.2 If the borrower has provided the bank with false material information or the circumstances forming the basis
          for granting the loan limit have changed (incl. the borrower’s financial condition has worsened), the bank shall
          have the right to refuse disbursement of the loan amount or a part thereof on the basis of the loan agreement.</p>

      <p> CALCULATION AND PAYMENT OF INTEREST
          3.1 The borrower shall pay interest under terms and conditions provided for in the loan agreement in
          accordance with the amounts specified in the schedule.
          3.2 On calculating interest, the bank shall proceed from the actual number of days in a calendar month and a
          360-day year. The borrower shall pay the bank the interest on the outstanding loan amount on the basis of the
          interest rate under the loan agreement. The bank shall start calculating the interest as of the date of granting the
          borrower use of the loan amount or a part thereof. The interest shall be calculated until the repayment of the
          entire loan amount.</p>          
  </div>
</div>


<!--Naked Form-->
<div class="card-block">

<!--Form with header-->
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="form-header blue-gradient">
            <h3><i class="fa fa-user"></i> Get the loan:</h3>
        </div>

        <!--Body-->
        <form action="/accounts">
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" name="Your name" id="form1" class="form-control">
            <label for="form1">Your name</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" name="ID No" id="form2" class="form-control">
            <label for="form2">ID No.</label>
        </div>
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" name="Tel No" id="form3" class="form-control">
            <label for="form3">Tel No.</label>
        </div>
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" name="Adress" id="form4" class="form-control">
            <label for="form4">Adress</label>
        </div>
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" name="Your  email" id="form5" class="form-control">
            <label for="form5">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" name="Your password" id="form6" class="form-control">
            <label for="form6">Your password</label>
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="text" name="Amount" id="form4" class="form-control">
            <label for="form4">Amount</label>
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="text" name="Month payable" id="form4" class="form-control">
            <label for="form4">Month payable</label>
        </div>

        <div class="text-center">
            <button class="btn btn-indigo">submit</button>
        </div>
       </form>
    </div>
</div>
<!--/Form with header-->
